:root {
    --primary-color--: #001C30;
    --secondary-color--: #176B87;
    --tertiary-color--: #64CCC5;
    --fourth-color--: #DAFFFB;
}

* {
    margin: 0;
    border: 0;
}

body,
input,
button {
    font-family: 'Open Sans', sans-serif;
}

input {
    background-color: silver;
    border: 2px solid white;
    padding: 3px;
    border-radius: 5px;
}

#header {
    background-color: var(--secondary-color--);
    color: var(--fourth-color--);
    padding: 15px;
    height: 8vh;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

#header div:last-child {
    display: flex;
    align-items: center;
    gap: 25px;
}

.content-container {
    display: grid;
    grid-template-columns: minmax(200px, 320px) 1fr;

    height: 100vh;
}

#add-book-section {
    margin-top: 30px;
    margin-left: 20px;
}

#add-book-section>div:first-child {
    margin-bottom: 25px;
}

#add-book-form {
    display: flex;
    flex-direction: column;
}

form {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

form>div {
    display: flex;
    flex-direction: column;
}

.req {
    color: red;
}

input:focus {
    outline: none;
    border: 2px solid var(--secondary-color--);
}